.container {
    display:flex;
    flex-direction: column;
    width: 300px;
}

.buttonRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

button {
    background-color: lightgrey;
    width: 100%;
}

#display {
    background-color: aliceblue;
}